html, body, form { height: 100%; }
body { margin: 0; font-size: 13px; font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; }
table caption { padding: 10px 5px 5px; font-size: 1.1em; font-weight: bold; letter-spacing: 1px; }
img { border: 0 none; }

@media print {
    body { font-size: 10pt; }
}

/* ==========================================================================
   Document sections
   ========================================================================== */
#main-section { margin: 0; height: auto; min-height: 100%; overflow: auto; }
#page-wrapper { margin: 0; padding: 30px 30px 62px 30px; /* padding-bottom must be grater than footer height */ }
.footer { position: relative; bottom: 0; clear: both; height: 32px; margin-top: -35px; /* footer height + border */ border-top: 3px solid #E42639; line-height: 32px; text-align: center; background-color: #F2F2F2; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.autoheight { overflow: auto; }
.hide { display: none; }
.right { text-align: right; }
.spaced { letter-spacing: 2px; }
.no-wrap { white-space: nowrap !important; }
.gv-link, .gv-link > a { color: #00E; text-decoration: none; background: transparent; }
.gv-link a:not(:only-child) { text-decoration: underline; }
.gv-link:hover, .gv-link > a:hover { color: #FF7200; cursor: pointer; }
.text-ellipsis { width: 210px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* ==========================================================================
   Tooltip
   ========================================================================== */
.vld-tooltip.arrow-left:before { content: ""; position: absolute; width: 0; height: 0; right: 100%; top: 5px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 9px solid rgba(0,88,109,0.9); }
.vld-tooltip.arrow-right:before { content: ""; position: absolute; width: 0; height: 0; left: 100%; top: 5px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 9px solid rgba(0,88,109,0.9); }
.vld-tooltip.arrow-top:before { content: ""; position: absolute; width: 0; height: 0; bottom: 100%; left: 10px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 8px solid rgba(0,59,77,0.9); }
.vld-tooltip.arrow-bottom:before { content: ""; position: absolute; width: 0; height: 0; top: 100%; left: 10px; border-left: 0 none; border-right: 11px solid transparent; border-top: 8px solid rgba(0,90,112,0.67); }
/*.vld-tooltip { position: relative; display: inline-block; z-index: 2999; white-space: nowrap; padding: 4px 7px; text-align: left; color: #555; font-size: 11px; box-shadow: 0 0 6px rgba(0,0,0,0.7); border: 1px solid #fff; border-radius: 4px; background: #f5f6f6; background: -moz-linear-gradient(top, #f5f6f6 0%, #e3e4ea 50%, #f5f6f6 100%); background: -webkit-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); background: -o-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); background: -ms-linear-gradient(top, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); background: linear-gradient(to bottom, #f5f6f6 0%,#e3e4ea 50%,#f5f6f6 100%); }*/
.vld-tooltip { position: relative; display: inline-block; z-index: 2999; white-space: nowrap; padding: 4px 7px; text-align: left; color: #eee; font-family: sans-serif; font-size: 11px; font-style: italic; box-shadow: 0 0 6px rgba(0,0,0,0.7); border: 1px solid #fff; border-radius: 4px; background: #005A70;
    background: -moz-linear-gradient(top, rgba(0,59,77,0.9) 0%, rgba(0,90,112,0.67) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(0,59,77,0.9) 0%,rgba(0,90,112,0.67) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,59,77,0.9) 0%,rgba(0,90,112,0.67) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,59,77,0.9) 0%,rgba(0,90,112,0.67) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,59,77,0.9) 0%,rgba(0,90,112,0.67) 100%); /* W3C */
}

/* ==========================================================================
   Loading animation
   ========================================================================== */
.bg-fixed { z-index: 2999; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: #000; }
.bg-opacity { opacity: 0.36; -moz-opacity: 0.36; -khtml-opacity: 0.36; filter: alpha(opacity=36); }
#floatingBarsG { position: relative; display: inline-block; z-index: 3000; width: 32px; height: 40px; }
.blockG { position: absolute; background-color: #FFFFFF; width: 5px; height: 12px; -moz-border-radius: 5px 5px 0 0; -moz-transform: scale(0.4); -moz-animation-name: fadeG; -moz-animation-duration: 1.04s; -moz-animation-iteration-count: infinite; -moz-animation-direction: linear; -webkit-border-radius: 5px 5px 0 0; -webkit-transform: scale(0.4); -webkit-animation-name: fadeG; -webkit-animation-duration: 1.04s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: linear; -ms-border-radius: 5px 5px 0 0; -ms-transform: scale(0.4); -ms-animation-name: fadeG; -ms-animation-duration: 1.04s; -ms-animation-iteration-count: infinite; -ms-animation-direction: linear; -o-border-radius: 5px 5px 0 0; -o-transform: scale(0.4); -o-animation-name: fadeG; -o-animation-duration: 1.04s; -o-animation-iteration-count: infinite; -o-animation-direction: linear; border-radius: 5px 5px 0 0; transform: scale(0.4); animation-name: fadeG; animation-duration: 1.04s; animation-iteration-count: infinite; animation-direction: linear; }
.blockG:nth-child(1) { left: 0; top: 15px; -moz-animation-delay: 0.39s; -moz-transform: rotate(-90deg); -webkit-animation-delay: 0.39s; -webkit-transform: rotate(-90deg); -ms-animation-delay: 0.39s; -ms-transform: rotate(-90deg); -o-animation-delay: 0.39s; -o-transform: rotate(-90deg); animation-delay: 0.39s; transform: rotate(-90deg); }
.blockG:nth-child(2) { left: 4px; top: 5px; -moz-animation-delay: 0.52s; -moz-transform: rotate(-45deg); -webkit-animation-delay: 0.52s; -webkit-transform: rotate(-45deg); -ms-animation-delay: 0.52s; -ms-transform: rotate(-45deg); -o-animation-delay: 0.52s; -o-transform: rotate(-45deg); animation-delay: 0.52s; transform: rotate(-45deg); }
.blockG:nth-child(3) { left: 13px; top: 2px; -moz-animation-delay: 0.65s; -moz-transform: rotate(0deg); -webkit-animation-delay: 0.65s; -webkit-transform: rotate(0deg); -ms-animation-delay: 0.65s; -ms-transform: rotate(0deg); -o-animation-delay: 0.65s; -o-transform: rotate(0deg); animation-delay: 0.65s; transform: rotate(0deg); }
.blockG:nth-child(4) { right: 4px; top: 5px; -moz-animation-delay: 0.78s; -moz-transform: rotate(45deg); -webkit-animation-delay: 0.78s; -webkit-transform: rotate(45deg); -ms-animation-delay: 0.78s; -ms-transform: rotate(45deg); -o-animation-delay: 0.78s; -o-transform: rotate(45deg); animation-delay: 0.78s; transform: rotate(45deg); }
.blockG:nth-child(5) { right: 0; top: 15px; -moz-animation-delay: 0.9099999999999999s; -moz-transform: rotate(90deg); -webkit-animation-delay: 0.9099999999999999s; -webkit-transform: rotate(90deg); -ms-animation-delay: 0.9099999999999999s; -ms-transform: rotate(90deg); -o-animation-delay: 0.9099999999999999s; -o-transform: rotate(90deg); animation-delay: 0.9099999999999999s; transform: rotate(90deg); }
.blockG:nth-child(6) { right: 4px; bottom: 4px; -moz-animation-delay: 1.04s; -moz-transform: rotate(135deg); -webkit-animation-delay: 1.04s; -webkit-transform: rotate(135deg); -ms-animation-delay: 1.04s; -ms-transform: rotate(135deg); -o-animation-delay: 1.04s; -o-transform: rotate(135deg); animation-delay: 1.04s; transform: rotate(135deg); }
.blockG:nth-child(7) { bottom: 0; left: 13px; -moz-animation-delay: 1.1700000000000002s; -moz-transform: rotate(180deg); -webkit-animation-delay: 1.1700000000000002s; -webkit-transform: rotate(180deg); -ms-animation-delay: 1.1700000000000002s; -ms-transform: rotate(180deg); -o-animation-delay: 1.1700000000000002s; -o-transform: rotate(180deg); animation-delay: 1.1700000000000002s; transform: rotate(180deg); }
.blockG:nth-child(8) { left: 4px; bottom: 4px; -moz-animation-delay: 1.3s; -moz-transform: rotate(-135deg); -webkit-animation-delay: 1.3s; -webkit-transform: rotate(-135deg); -ms-animation-delay: 1.3s; -ms-transform: rotate(-135deg); -o-animation-delay: 1.3s; -o-transform: rotate(-135deg); animation-delay: 1.3s; transform: rotate(-135deg); }

@-moz-keyframes fadeG {
    0% { background-color: #000000; }
    100% { background-color: #FFFFFF; }
}
@-webkit-keyframes fadeG {
    0% { background-color: #000000; }
    100% { background-color: #FFFFFF; }
}
@-ms-keyframes fadeG {
    0% { background-color: #000000; }
    100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeG {
    0% { background-color: #000000; }
    100% { background-color: #FFFFFF; }
}
@keyframes fadeG {
    0% { background-color: #000000; }
    100% { background-color: #FFFFFF; }
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0.6em;
}

/* ==========================================================================
   Prettified Table
   ========================================================================== */
table.pretty-table, .pretty-table caption, .pretty-table tbody, .pretty-table tfoot, .pretty-table thead, .pretty-table tr, .pretty-table th, .pretty-table td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
.pretty-table a:link { color: #666; font-weight: bold; text-decoration: none; }
.pretty-table a:visited { color: #999; font-weight: bold; text-decoration: none; }
.pretty-table a:active, .pretty-table a:hover { color: #bd5a35; text-decoration: underline; }
.pretty-table { border-spacing: 0; font-family: Arial, Helvetica, sans-serif; color: #666; font-size: 12px; text-shadow: 1px 1px 0px #fff; background: #eaebec; border: #ccc 1px solid; border-radius: 3px; -moz-box-shadow: 0 1px 2px #d1d1d1; -webkit-box-shadow: 0 1px 2px #d1d1d1; box-shadow: 0 1px 2px #d1d1d1; border-collapse: separate; }
.pretty-table th { padding: 0.9em; border-top: 1px solid #fafafa; border-bottom: 1px solid #e0e0e0; background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb)); background: -moz-linear-gradient(top, #ededed, #ebebeb); }
.pretty-table th:first-child { text-align: left; padding-left: 1em; }
.pretty-table tr:first-child th:first-child { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.pretty-table tr:first-child th:last-child { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.pretty-table tr td:first-child { text-align: left; padding-left: 1em; border-left: 0; }
.pretty-table tr td { padding: 0.7em; border-top: 1px solid #ffffff; border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; background: #fafafa; background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa)); background: -moz-linear-gradient(top, #fbfbfb, #fafafa); }
.pretty-table tr:nth-child(2n+1) td { background: #f6f6f6; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6)); background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6); }
.pretty-table tr:last-child td { border-bottom: 0; }
.pretty-table tr:last-child td:first-child { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.pretty-table tr:last-child td:last-child { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.pretty-table tr:hover td { background: #f2f2f2; background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0)); background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0); }
.pretty-table tfoot td { border-top: 1px solid #e0e0e0; }

/*-----------------
 * BEGIN OVERRIDES
 *-----------------*/

/* ==========================================================================
   Kendo window
   ========================================================================== */
.k-window .k-header .k-window-title { line-height: 20px; font-size: small; font-weight: bold; }
.k-window-titlebar { font-size: 18px; line-height: 20px; text-shadow: 0 1px 0 #FFF; color: #727272; }
.k-window-titlebar .k-window-actions { right: .27em; padding-top: .35em; }
.jsu-wnd-wrapper { padding: 8px 12px; color: #696969; }
.jsu-wnd-wrapper > .wnd-text { font-size: 16px; line-height: 1.4em; }
.jsu-dialog { margin-top: -17px; /*fixes top position because of padding-top*/ }

/* ==========================================================================
   jQuery ui dialog
   ========================================================================== */
.ui-dialog { padding: 2px; }
.ui-widget { font-size: 1em; }
.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-dialog-custom { display: table; margin: 0 auto; border-collapse: collapse; border: 0 none; outline: 0 none; }
.ui-dialog-custom .wnd-text { display: table-cell; padding: 10px 5px; vertical-align: middle; cursor: default; }
.ui-dialog-custom .wnd-icon { display: table-cell; width: 55px; height: 66px; padding: 0; }
.ui-dialog-custom .wnd-icon.info { background: url("../images/ico_info.png") no-repeat; background-position: left center; }
.ui-dialog-custom .wnd-icon.alert { background: url("../images/ico_alert.png") no-repeat; background-position: left center; }
.ui-dialog-custom .wnd-icon.success { background: url("../images/ico_success.png") no-repeat; background-position: left center; }
.ui-dialog-custom .wnd-icon.cancel { background: url("../images/ico_cancel.png") no-repeat; background-position: left center; }
.ui-dialog-custom .wnd-icon.error { background: url("../images/ico_error.png") no-repeat; background-position: left center; }
.ui-dialog-buttonpane button { min-width: 54px; margin: .5em .4em .1em .4em !important; }
.ui-button-text-only .ui-button-text { padding: .3em .8em; line-height: 1.5em; }
.ui-button:focus, .ui-button:active { outline: none; }

/* ==========================================================================
   jQuery ui date-picker
   ========================================================================== */
.ui-datepicker { font-family: Lucida Grande,Lucida Sans,Arial,sans-serif !important; font-size: 11px !important; }
.ui-datepicker .ui-datepicker-buttonpane button { padding: 0.2em 0.6em; }
.ui-datepicker td span, .ui-datepicker td a { padding: 0.1em .2em; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { margin: 5px 0 0 5px; text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 6px 40%; }
.ui-timepicker-div dl dt[style*="display:none"] + dd { margin: 0; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt { float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }
.ui-timepicker-rtl dl dt[style*="display:none"] + dd { margin: 0; }
.ui_tpicker_time { margin-bottom: 10px !important; }

/* ==========================================================================
   Highcharts
   ========================================================================== */
.chart-viewer { min-width: 310px; width: 1024px; min-height: 400px; margin: 0 auto; padding-right: 5px; }
.highchart-tooltip-custom { display: table; }
.highchart-tooltip-custom > div { display: table-row; }
.highchart-tooltip-custom > div > div { display: table-cell; padding: 0 2px; }
.highchart-tooltip-custom > div > div > span { font-variant: small-caps; }

/* ==========================================================================
   jQuery DataTable
   ========================================================================== */
.tabletools-wrapper { margin: 0 auto; font-family: Lucida Grande,Lucida Sans,Arial,sans-serif !important; font-size: 12px !important; color: #333; }
.tabletools-wrapper .dataTables_scroll { border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; }
.tabletools-wrapper .dataTables_scrollBody { display: inline-block; }
.tabletools-wrapper .dataTables_filter { color: #666; font: bold 10px Verdana,Geneva,sans-serif; }
.tabletools-wrapper .dataTables_info ul { display: inline-block; margin: auto; }
.tabletools-wrapper .dataTables_length { width: auto; padding-left: 4px; }
.tabletools-wrapper.tabla { text-align: left; }
.tabletools-wrapper.tabla th { height: 26px; padding: 0 0 0 10px; font-family: inherit; font-size: inherit; text-align: center; }
.tabletools-wrapper.tabla .ui-widget-header { background: none; border: none; padding: 5px 0; }
.tabletools-wrapper.tabla > div.dataTables_wrapper > table.dataTable tr td:first-child { border-left: 1px solid #E0E0E0; }
.tabletools-wrapper.tabla div.dataTables_scroll table.dataTable tr > *:last-child { border-right: none; }

/*---------------
 * END OVERRIDES
 *---------------*/
